*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    box-sizing: border-box;
}

.info-news__container {
    background: linear-gradient(to right bottom,$grey1-light,$grey1-dark);
}