$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-grey: #f7f7f7;

$main-yellow: #F4D35E;
$main-blue: #0D3B66;

$beige: #FAF0CA;
$light-orange: #EE964B;
$dark-orange: #F95738;

$events-link-color: #173f58;

$grey1-light: #c9c9c9;
$grey1-dark: #3c3c3c;
$grey2-light: #e3e3e3;
$grey2-dark: #444444;

$blue1-light: #9ad3de;
$blue1-dark: #2e3f42;
$blue2-light: #89bdd3;
$blue2-dark: #29383f;

$green-light: #d7e7e4;
$green-dark: #96a19f;