.banner {
    background: linear-gradient(-110deg,#ec5252,#6e1a52);
    &__container {
        height: 35vh;
        background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8));
        background-size: cover;
        background-position: center;
        position: relative;

        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

        &__logo-box {
            position: absolute;
            top: 4rem;
            left: 4rem;
        &__logo {
            height: 2.5rem;
            @media(min-width: 783px) {
                height: 3.5rem;
            }
        }
        }
        &__text-box {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    }
}

.frontbanner {
    background: linear-gradient(-110deg,#ec5252,#6e1a52);
    &__container {
        height: 60vh;
        background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
        url(../media/img/frontbanner.jpg);
        background-size: cover;
        background-position: center;
        position: relative;

        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

        &__logo-box {
            position: absolute;
            top: 4rem;
            left: 4rem;
        &__logo {
            height: 2.5rem;
            @media(min-width: 783px) {
                height: 3.5rem;
            }
        }
        }
        &__text-box {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    }
}

.newsbanner {
    background: linear-gradient(-110deg,#ec5252,#6e1a52);
    &__container {
        height: 35vh;
        background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
        url(../media/img/newsbanner.jpg);
        background-size: cover;
        background-position: center;
        position: relative;

        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

        &__logo-box {
            position: absolute;
            top: 4rem;
            left: 4rem;
        &__logo {
            height: 3.5rem;
        }
        }
        &__text-box {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    }
}

.archivebanner {
    background: linear-gradient(-110deg,#ec5252,#6e1a52);
    &__container {
        height: 35vh;
        background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
        url(../media/img/newsbanner.jpg);
        background-size: cover;
        background-position: center;
        position: relative;

        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

        &__logo-box {
            position: absolute;
            top: 4rem;
            left: 4rem;
        &__logo {
            height: 3.5rem;
        }
        }
        &__text-box {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    }
}

.banner404 {
    background: linear-gradient(-110deg,#ec5252,#6e1a52);
    &__container {
        height: 35vh;
        background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
        url(../media/img/newsbanner.jpg);
        background-size: cover;
        background-position: center;
        position: relative;

        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

        &__logo-box {
            position: absolute;
            top: 4rem;
            left: 4rem;
        &__logo {
            height: 3.5rem;
        }
        }
        &__text-box {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    }
}

.searchbanner {
    background: linear-gradient(-110deg,#ec5252,#6e1a52);
    &__container {
        height: 35vh;
        background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
        url(../media/img/newsbanner.jpg);
        background-size: cover;
        background-position: center;
        position: relative;

        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

        &__logo-box {
            position: absolute;
            top: 4rem;
            left: 4rem;
        &__logo {
            height: 3.5rem;
        }
        }
        &__text-box {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    }
}

.pagebanner {
    background: linear-gradient(-110deg,#ec5252,#6e1a52);
    &__container {
        height: 35vh;
        background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
        url(../media/img/newsbanner.jpg);
        background-size: cover;
        background-position: center;
        position: relative;

        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

        &__logo-box {
            position: absolute;
            top: 4rem;
            left: 4rem;
        &__logo {
            height: 3.5rem;
        }
        }
        &__text-box {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    }
}


/* .logo:hover {
    animation: moveInRight 1s ease-out;
} */