.error-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__header {
        &__title {
            
        }
    }
    &__content {
        &__search-form {
            &__search-field {
                
            }
            &__search-submit {
                
            }
        }
    }
}