.footer {
    background-color: cadetblue;
    &__logo {
        margin-top: 5rem;
        padding: 0;
    }
    &__links {
        margin-top: 3rem;
        font-size: 1.5rem;
        @media(min-width: 783px) {
            font-size: 2rem;
        }
    }
    &__copyright {
        margin-top: 5rem;
        padding: 0;
        &__text {
            font-size: 1.5rem;
            color: $color-white;
            @media(min-width: 783px) {
                font-size: 2rem;
            }
        }
    }
}