.news {
    //background: linear-gradient(to right bottom,$blue2-light,$blue2-dark);
    //background: linear-gradient(to right bottom,$grey1-light,$grey1-dark);
    background-color: transparent;
    padding-bottom: 5rem;
    @media(min-width: 783px) {
        padding-bottom: 15rem;
    }
    &__content {
        padding-top: 4rem;
        &__news {
            &__header {
                text-align: center;
                margin-bottom: 4rem;
                color: $color-white;
            }
            &__button {
                display: flex;
                justify-content: center;
                margin-top: 5rem;
            }
        }
        &__events {
            margin-top: 4rem;
            @media(min-width: 783px) {
                margin-top: 0;
            }
            &__header {
                text-align: center;
                margin-bottom: 4rem;
                color: $color-white;
            }
            &__button {
                display: flex;
                justify-content: center;
                margin-top: 5rem;
            }
        }
    }
}