.post {
    justify-content: center;
    &__container {
        margin: 1rem 0;
        &__img {
            text-align: center;
            margin: 1rem 0;
        }
        &__text {
            &__excerpt {

            }
            &__link {
                color: cadetblue;
                font-size: 2rem;
            }
            &__author {
                a {
                    color: brown;
                }
            }
        }
    }
}