.single-event-ex {
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    &__container {
        &__card {
            &__header {
                display: flex;
                align-items: baseline;
                &__nav {
                    &__item {
                        &__home-link {
                        }
                        a {
                            color: #007bff;
                        }
                    }
                }
                &__title {
                    margin-left: 1rem;
                }
            }
            &__body {
                &__text {

                }
            }
        }   
    }  
}

.min-list {
  padding: 0;
  margin: 0;
}

.min-list li {
  list-style: none;
}

.link-list {
  li {
    padding: 1rem 0;
    font-size: 1.5rem;
    border-bottom: 1px dotted #DEDEDE;

    .search-overlay & {
      font-size: 1.3rem;
    }
  }

  li:last-child {
    border-bottom: none;
  }

  a {
    color: $dark-orange;
  }
}