.single-company {
    text-align: center;
    &__article {
        &__header {
            &__link {

            }
            &__title {

            }
        }
        &__img {

        }
        &__content {

        }
    }
    &__list {
        list-style: none;
        &__item {
            display: flex;
            justify-content: center;
            &__link {
                display: flex;
                flex-direction: column-reverse;
                &__img {
    
                }
                &__title {
                    
                }
            }
        }
    }
}